@model E_CommerceF.Models.PEDIDO_PROVEEDOR
@{
    ViewBag.Title = "PedidosDetalles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    function buscar(){
        confirm("Status Actualizado, se le notificará al departamento de compras");
}
</script>
<div class="container-fluid mt--6">
    <div class="row">

        <div class="col-xl-8 order-xl-1">
            <div class="card">
                <div class="card-header">
                    <div class="card-header border-0">
                        <h3 class="mb-0 text-center">Autorizacion de compra</h3>
                        <form action="/Finanzas/Pedidos" method="post">
                            <input type="submit" class="btn btn-primary  btn-sm" value="Regresar" name="estatus">

                        </form>
                    </div>
                    <div class="card-body">
                        <form action="/Finanzas/editPedidosDetalles" method="post">
                            <h6 class="heading-small text-muted mb-4">Datos de autorización</h6>
                            <div class="pl-lg-4">
                                <input type="text" hidden name="id" value="@Model.ID" class="form-control">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">ID</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="@Model.ID">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Fecha</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="@Model.FECHA">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Producto</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="Libreta Scribbe">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Cantidad</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="292">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Monto</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="@Model.PRECIO_TOTAL">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Razon</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" value="@Model.RAZON">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">status</label>
                                    <div class="col-sm-8">
                                        <select class="form-control" name="status">
                                            <option>autorizado</option>
                                            <option>no autorizado</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="row justify-content-end">
                                    <div class="col-4">
                                        <button onclick="buscar()" type="submit" class="btn btn-primary" value="Autorizado" name="estatus">Autorizar</button>
                                    </div>
                                    <div class="col-4">
                                        <button onclick="buscar()" type="submit" class="btn btn-danger" value="No Autorizado" name="estatus">No Autorizar</button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>

