@model IEnumerable<E_CommerceF.Models.HISTORIAL_PRECIO>

@{
    ViewBag.Title = "Precios";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0 text-center">Autorizaciones de Precios</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Precios Nuevos</th>
                                <th scope="col" class="sort" data-sort="budget">Fecha de alta</th>
                                <th scope="col" class="sort" data-sort="status">Precio Actual</th>
                                <th scope="col" class="sort" data-sort="status">Razon Cambio</th>
                                <th scope="col" class="sort" data-sort="status">Precio Nuevo</th>
                                <th scope="col" class="sort" data-sort="status">Historial</th>
                                <th scope="col">Accion</th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var item in Model)
                            {
                                using (Html.BeginForm("editPreciosDetalles", "Finanzas"))
                                {
                            <tr>
                                <th scope="row">
                                    <input hidden name="id" value="@item.Id">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">@item.PRODUCTO.NOMBRE</span>
                                        </div>
                                    </div>
                                </th>

                                <td>
                                    <span class="name mb-0 text-sm">@item.PRODUCTO.CREATED_AT</span>
                                </td>
                                <td class="budget">
                                    $ @item.PRODUCTO.PRECIO
                                </td>
                                <td class="text-right">
                                    @item.RAZON
                                </td>
                                <td class="budget">
                                    $ @item.PRECIO
                                </td>
                                <td class="text-right">
                                    <span class="name mb-0 text-sm"><a href="@Url.Action("PreciosHistorial", "Finanzas", new { id = item.FK_PRODUCTOS })">Ver historial</a></span>
                                </td>
                                <td class="text-right">
                                    <input type="submit" class="btn btn-primary  btn-sm" value="Autorizar" name="estatus">
                                    <input type="submit" class="btn btn-danger btn-sm" value="No autorizar" name="estatus">
                                </td>
                            </tr>
                                }

                            }

                        </tbody>
                    </table>
                </div>
                <!-- Card footer -->

            </div>
        </div>
    </div>

</div>


